.newbuttonsContainer {
  margin: 20px;
}

.drawEraseContainer {
  float:left;
  background-color: #ccc;
  width: 320px;
  overflow: hidden;
  border: 2px solid #333;
  border-radius: 10px;
}

.onOffContainer {
  float:left;
  margin-left: 60px;
}

.allBtnn {
  background-color: #eee;
  border: 2px solid #333;
  margin-right: 20px;
  border-radius: 10px;
}
.allBtnn:active {
  background-color: #ccc;
}

.drawBtnn {
  float:left;
  background-color: #eee;
  text-align: center;
  color: #444;
  width: 150px;
  padding: 5px;
  height: 5em;
  line-height: 5em;
  /*opacity: 0.5;*/
  cursor: pointer;
}

.allBtnn {
  float:left;
  background-color: #eee;
  text-align: center;
  color: #444;
  width: 150px;
  padding: 5px;
  height: 5em;
  line-height: 5em;
  /*opacity: 0.5;*/
  cursor: pointer;
}
.drawBtnn:active .allBtnn:active {
  background-color: #ccc;
}
.drawBtnn.active {
  -moz-box-shadow: inset 5px 0 20px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: inset 5px 0 20px rgba(0, 0, 0, 0.53);
  box-shadow: inset 5px 0 20px rgba(0, 0, 0, 0.53);
  background-color: #666;
  color: #ccc;
  opacity: 1.0;
}