html,body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  font-family: sans-serif;
}

body {
  background-color: white;
}


#topButtonsContainer {
  width: 100%;
  margin: 0 auto;
  height: 4.5em;
  /*display: table;*/
}

div.btn {
  float:left;
  border-radius: 5px;
  border: 1px solid #303030;
  color: #444;
  cursor: pointer;
  width: 128px;
  height: 100%;
  background-color: #eee;
  text-align: center;
  margin: 8px;
  padding: 5px;
  line-height: 4.5em;
}

div.spacer{
  float:left;
  width: 1px;
  height: 100%;
  margin: 15px;
  background-color: #ccc;
}

div.btn.drawerase {
  opacity: 0.5;
}

div.btn.active {
  border-color: #8c8;
  border-width: 5px;
  padding: 1px;
  opacity: 1.0;
  background-color: #ccc !important;
	-moz-box-shadow: 0 0 5px rgba(0, 255, 0, 0.65);
	-webkit-box-shadow: 0 0 5px rgba(0, 255, 0, 0.65);
	box-shadow: 0 0 5px rgba(0, 255, 0, 0.65);
}

/*#led_on {*/
  /*background-color: #444;*/
/*}*/
/*#led_off {*/
  /*background-color: #444;*/
/*}*/

#buttonsContainer {
  position: absolute;
  top: 135px; /* 112px */
  left: 12px;
}

.row {
}

div.ledbtn.on {
  background-color: black;
  /*color: #888 !important;*/
  color: #f0f !important;
}


div.ledbtn, div.smallledbtn {
  float:left;
  width: 20px;
  height: 20px;
  margin: 2px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 1px solid gray;
  border-radius: 12px;
  background-color: white;
  background-size: 80%;
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 6px;

  /* the transition may look nice but severely slowed down turning all leds on/off */
  /*-webkit-transition: background-color 200ms linear;*/
  /*-moz-transition: background-color 200ms linear;*/
  /*-o-transition: background-color 200ms linear;*/
  /*-ms-transition: background-color 200ms linear;*/
  /*transition: background-color 200ms linear;*/
}

div.ledbtn:active {
}

div.small {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 6px;
}

.debug {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
