html,body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

body {
  background-color: white;
}


div.btn {
  float:left;
  border-radius: 5px;
  border: 1px solid #303030;
  color: #444;
  cursor: pointer;
  width: 128px;
  height: 64px;
  background-color: #eee;
  text-align: center;
  font-family: sans-serif;
  margin: 8px;
}

#topButtonsContainer {
  width: 100%;
  margin: 0 auto;
}

div.btn.active {
  border-color: #999;
}

#led_on {
  background-color: black;
}
#led_off {
  background-color: white;
}


#buttonsContainer {
  position: absolute;
  top: 112px;
  left: 6px;
}

.row {
}

div.ledbtn, div.smallledbtn {
  float:left;
  width: 20px;
  height: 20px;
  margin: 2px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 1px solid gray;
  border-radius: 12px;
  background-color: white;
  background-size: 80%;
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 6px;

  /* the transition may look nice but severely slowed down turning all leds on/off */
  /*-webkit-transition: background-color 200ms linear;*/
  /*-moz-transition: background-color 200ms linear;*/
  /*-o-transition: background-color 200ms linear;*/
  /*-ms-transition: background-color 200ms linear;*/
  /*transition: background-color 200ms linear;*/
}

div.ledbtn:active {
}

div.ledbtn.on {
  background-color: black;
  color: #888 !important;
}

div.small {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 6px;
}

.debug {
  display: none;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}
