html,body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

div.btn {
  float:left;
  border: 1px solid #444;
  border-radius: 5px ;
  color: #444;
  cursor: pointer;
  background-color: #eee;
  margin: 7px 16px;
  padding: 7px 16px;
}
div.btn:hover {
  background-color: #ddd;
}
div.btn:active {
  background-color: #aaa;
}

div.ledbtn {
  float:left;
  width: 40px;
  height: 20px;
  margin: 3px;
  padding: 4px;
  text-align: center;
  color: #fff;
  background-color: #888;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


}
div.ledbtn:active {
  background-color: #444 !important;
}
.on {
  background-color: #eee !important;
  color: #888 !important;
}



.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}